<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">
<head>
	<meta charset="UTF-8">
	<title>タスク管理</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <header th:replace="~{fragments/header :: headerFragment}"></header>
    <section class="container pt-3">
	    <div th:replace="${body}"></div>
	</section>
    <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>